body{
    background-color: grey;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}
.card-body{
    background-color: rgb(219, 219, 219);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
#title{
    margin-bottom: 15px;
    font-size: 70px;
}
/* .card-btn{
    padding: 10px 35px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
    border-radius: 5px;
} */
button{
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 35px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
    border-radius: 5px;
}
#decrement{
    background-color: grey;
    color: white;
}
#decrement:hover{
    background-color: rgb(194, 7, 7);
    color: white;
}
#reset{
    background-color: grey;
    color: white;
}
#reset:hover{
    background-color: rgb(194, 7, 7);
    color: white;
}
#increment{
    background-color: grey;
    color: white;
}
#increment:hover{
    background-color: rgb(194, 7, 7);
    color: white;
}